*{
    padding:0;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;

}
.section{
    background-color: #191919;
}
.row{
    color: #191919;
    background-color: #191919;
}


h1{
    color:blueviolet;
    text-shadow: none;
    text-align:center;
    font-size: 1.5rem;
    justify-content: center;

}
i{
    color:rgb(151, 27, 141);
    font-size:1.5rem;
    margin:30px auto;
    text-shadow: 0 0 35px #fcfc;
    justify-content: center;
}


h2{
    color:blueviolet;
    font-size: 1.rem;
    justify-content: center;
    text-align: center;
}
.container-fluid{
    color: #191919;
    background-color: #191919;
}
span{
    text-align: center;
}


.nav{
    background-color: #191919;
}
span{
    color: blueviolet;
    background-color: #191919;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}


.footer {
    min-height: 500px;
    background-color: #191919;
}


.footer-texto{
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family:'Bowlby One', cursive ;

}
.iconos-redes-sociales a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border:  2px solid white;
    border-radius:50%;
    transition: all 0.2s ease-in;

}
.iconos-redes-sociales i {
    color:rgb(151, 27, 141);
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}
.iconos-redes-sociales a:hover{
    background-color: white;
    border:2px solid  rgb(151, 27, 141);
}
.iconos-redes-sociales a:hover i {
   color:black; 

}
.derechos-de-autor {
    font-size: 15px;
    color:#aeaeae;
    padding:20px;

}
.seccion-oscura{
    background-color:#191919;
}
.card-body{
    color:#191919;
    background-color: #191919;
}
.card-text{
    color:#fcfc;
    justify-content: center;
    font-size: 0.5rem;
}
p{
    color:#fcfc;
    justify-content:flex-start;
    font-size: 1rem;
    background-position: center;

}
